<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @kreaideasuser.name %>
</p>

<p>
  <b>Correo:</b>
  <%= @kreaideasuser.email %>
</p>

<p>
  <b>Télefono:</b>
  <%= @kreaideasuser.phone %>
</p>

<p>
  <b>Dirección:</b>
  <%= @kreaideasuser.address %>
</p>

<p>
  <b>Puntos acumulados:</b>
  <%= @kreaideasuser.points %>
</p>

<p>
  <b>Avatar</b>
  <%= image_tag(@kreaideasuser.avatar.url,:size => "150x180" ) %>
</p>


<%= link_to 'Edit', edit_kreaideasuser_path(@kreaideasuser) %> |
<%= link_to 'Back', kreaideasusers_path %>
